.App {
  text-align: center;
  color: white;
  background-color: black;
}

.App-logo {
  height: 100%;
}

.App-header {
  
  height: 25em;
  padding-bottom:4em;
  background:
    linear-gradient(
      to bottom, 
      skyblue,
      rgba(134,29,84,1) 12%,
      rgba(255,93,177,1) 47%,
      black
    )
    
    bottom
    #777    
    no-repeat; 
  background-size:100% 5em ;
  background-color: skyblue;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.sidebar {
	text-align: right;
}

.machine-image {
  border-radius: 50%;
}

.vidyas {
  border-radius: 1em;
}

.search-input {
  background-color: black;
  border: none;
  font-size: 40px;
}

.container-fluid {
    position: relative;
    text-align: center;
    color: white;
    font-size: 10em;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -200%);
    opacity: .5;
}

.arcade-pic {
  opacity: .5;
  width: 100%;
}

.machines-bg {
  background-image: src('arcade.jpg')
}

#comment-button {
  float: left;
}

.App-footer {
  width: 100%;
  bottom: 0px;
  height: 100%;
}

.navbar {
  color: black;
}

a {
  color: black;
  font-size: 2em;
}

a:hover {
  text-decoration: none;
  color: yellow;
}

input:focus {outline: none; }

ul {
	padding: 0;
	list-style-type: none;
}
